/*CSS*/
.body{
    margin: 0;
    padding: 0;
}

#header{
    width:1800px;
	height:145px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    border-radius: 15px;
}

.login{
    width: 215px;
    height: 145px;
    position: absolute;
    margin-left: 1535px;
    background-color: #E83131;
    border-radius: 5px;

}



