#navbar{
    width: 100%;
    height: 100px;
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navbar a{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #202020;
    font-style: bolder;
}
.tarefa_block{
    display: block;
    width: 100%;
    margin: 15px auto;
    background: #DDD;
}
.tarefa_block h2{
    color: #181818;
    margin-left: 30px;
    padding-top: 30px;
    font-size: 26px;
}
.tarefa_block p{
    margin-left: 30px;
    padding-bottom: 30px;
    width: 70%;
    line-height: 21px;
    font-size: 16px;
}
.tarefa_block label{
    display: block;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.tarefa_block input{
    display: block;
    margin-left: 30px;
    width: 220px;
    border-radius: 10px;
    height: 30px;
    border: none;
}
.tarefa_block textarea{
    display: block;
    resize: none;
    margin-left: 30px;
    height: 150px;
    width: 220px;
     border-radius: 10px;
    border: none;
}
.btnenviar{
    height: 40px;
    width: 80px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 10px;
    color: #FFF;
    outline: none;
    border: none;
    background-color: #E83131;
}
.btncancelar{
    height: 40px;
    width: 80px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 10px;
    color: #FFF;
    outline: none;
    border: none;
    background-color: #E83131;
}
.tarefa_block div{
    width: 80px;
    height: auto;
    margin-left: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}
.tarefa_block div figure{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
}
.tarefa_block div figure img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms ease-out;
}
.tarefa_block div figure img:hover{
    transform: scale(1.05);
}

.add_button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    background: transparent;
}
.add_button img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    padding:0;
    margin: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #DDD;
}
